			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="pull-left section-title">
							<span>Manage Department information</span>
						</h2>
					</div>
				</div>
				<div>
					<div class="alert alert-dismissible alert-danger"
						ng-show="errors.data">
						<strong>Errors!</strong> <br />
						<ul>
							<li ng-repeat="(key, value) in errors.data">{{value}}</li>
						</ul>
					</div>
				</div>

				<div>
					<div class="alert alert-dismissible alert-success"
						ng-show="successMessage">
						<strong>Success</strong> <br />
						<ul>
							<li ng-bind="successMessage">successMessage</li>
						</ul>
					</div>
				</div>

				<div class="row">
					<form>
						<div class="col-sm-12">
							<div class="form-group"
							ng-class="{'has-error is-focused' : errors.data.code  || error422(errors.status)}">
								<label>Code</label> <input type="text"
									placeholder="Enter Department code Here.." class="form-control"
									ng-model="department.code"> <span ng-show="errors.data.code || error422(errors.status)"
									class="help-text error"> {{errors.data.code}} </span>
							</div>

							<div class="form-group"
								ng-class="{'has-error is-focused' : errors.data.name}">
								<label>Name</label> <input type="text"
									placeholder="Enter Department name Here.." class="form-control"
									ng-model="department.name"> <span ng-show="errors.data.name"
									class="help-text error"> {{errors.data.name}} </span>
							</div>

							<br />
							<button type="button" class="btn btn-lg btn-primary"
								ng-click='save(department)'>Save</button>
							<a ng-href="#/admin/lookup/department" class="btn">Cancle</a>
						</div>
					</form>
				</div>

			</div>

	
