<div class="container well content">

<ng-include ng-controller="LookupsController" 
src="'app/pages/admin/lookups/list.html'"></ng-include>

<div class="tab-content">
	<div class="tab-pane active">
		<div class="col-lg-12" ng-if="mode === 'list'">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="pull-left section-title">
						<span>Departments</span>
						<a href="#/admin/lookup/department?m=new" 
						    class="btn btn-primary pull-right btn-sm" >Add New</a>
					</h2>
				</div>
			</div>
			 
	<div class="row">
			<div  ng-show="departments.length">
			    <table class="table">
			      <thead>
			        <tr>
			          <th>#</th>
			          <th>Name</th>
			          <th>code</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr ng-repeat="department in departments">
			          <td>{{$index +1}}</td>
			          <td><strong><a href="#/admin/lookup/department?m=edit&id={{department.id}}"
			           	ng-bind="department.name">
			          </a></strong></td>
			           <td>{{department.code}}</td>
			      </tbody>
			    </table>
			</div>
	</div>

</div>
	<!-- Edit start-->
	<ng-include ng-if="mode !== 'list'" src="'/app/pages/admin/lookups/department-edit.html'"></ng-include>
	<!-- Edit end -->
	<hr>
	</div>
</div>
</div>






