
<style type="text/css">
.caps {
	text-transform: capitalize;
}

.dropdown.dropdown-scroll .dropdown-menu {
	max-height: 200px;
	width: 60px;
	overflow: auto;
}

.search-control {
	padding: 5px 10px;
}
</style>

<script type="text/javascript">
	
</script>

<div class="container content ">
	<div class="col-lg-12 well">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pull-left section-title">
					<span>Medical Service Provider</span><br /> 
						
				<a ng-href="#/medicalInstitute/search" class="btn pull-right btn-raised">Back</a>
				</h2>
			</div>
		</div>
		<div>
			<div class="alert alert-dismissible alert-danger"
				ng-show="errors.data">
				<strong oib-message="message.title.errors"></strong> <br />
				<ul>
					<li ng-repeat="(key, value) in errors.data">{{value}}</li>
				</ul>
			</div>
		</div>
		<div>
			<div class="alert alert-dismissible alert-success"
				ng-show="successMessage">
				<strong oib-message="message.title.success"></strong> <br />
				<ul>
					<li ng-bind="successMessage">successMessage</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<form class="dropzone" dropzone="" id="dropzone">
				<div class="col-sm-12">
					<div class="row">

						<div class="col-sm-4 form-group">
							<label>Name</label> <input type="text" class="form-control "
								placeholder="enter name" ng-model="med.name"> <span
								ng-show="errors.data" class="help-text error"></span>
						</div>

						<div class="col-sm-4 form-group">
							<label>Address</label> <input type="text" class="form-control "
								placeholder="enter address" ng-model="med.address"> <span
								ng-show="errors.data" class="help-text error"></span>
						</div>

						<div class="col-sm-4 form-group">
							<label>Contact Person</label> <input type="text"
								class="form-control " placeholder="enter contactPerson"
								ng-model="med.contactPerson"> <span
								ng-show="errors.data" class="help-text error"></span>
						</div>

					</div>


					<div class="row">

						<div class="col-sm-4 form-group">
							<label>Phone No.</label> <input type="text" class="form-control "
								placeholder="enter phone no" ng-model="med.phoneNo"> <span
								ng-show="errors.data" class="help-text error"></span>
						</div>



						<div class="col-sm-4 form-group">
							<label>TIN</label> <input type="text" class="form-control "
								placeholder="enter tin" ng-model="med.tin"> <span
								ng-show="errors.data" class="help-text error"></span>
						</div>

						<div class="col-sm-4 form-group">
							<label>Discount Percentage</label> <input type="text"
								class="form-control " placeholder="discount %"
								ng-model="med.discountPercentage"> <span
								ng-show="errors.data" class="help-text error"> <!--                                 {{errors.data.lastName}} -->
							</span>
						</div>

					</div>

					<div class="row">
						<div class="col-sm-4 form-group">
							<label>Institute Type</label> <select
								ng-model="med.instituteType"
								class="form-control " id="first">
								<option>hospital</option>
								<option>clinic</option>
								<option>pharmacy</option>

							</select>
						</div>

						<div class="col-sm-4 form-group">
							<label>Payment Mode</label> <select ng-model="med.paymentMode"
								class="form-control fstdropdown-select" id="first">
								<option>cash</option>
								<option>credit</option>
								<option>both</option>

							</select>
						</div>

						<div class="col-sm-4 form-group">
							<label>Category</label> <select ng-model="med.category"
								class="form-control fstdropdown-select" id="first">
								<option>general</option>
								<option>dental</option>
								<option>eyes</option>
								<option>pharmacy</option>


							</select>
						</div>

					</div>




				</div>
			</form>
			<br />
			<button type="button" class="btn btn-lg btn-primary"
				
				ng-click='saveMedical(med)' access="USER">Save</button>

			<button class="btn  btn-primary"
				ng-if="med.approved==0 && med.status==0"
				ng-disAbled="med.maker==name" ng-click='approveMed(med)'
				access="HR_DISTRICT,HR_HO">Approve</button>

			<button class="btn  btn-primary" ng-if="med.status==1 "
				ng-click='removeMed(med)' access="HR_DISTRICT,HR_HO">Remove</button>




		</div>

	</div>

</div>




