<!-- for selected user, from edit user -->
<div class="modal fade change-selected-user-password" style="position: fixed;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
 	 <div class="modal-dialog modal-md" role="document">
     <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
           		<div >
					 <div class="alert alert-dismissible alert-danger" ng-show="merror.data">
                           <strong>Errors!</strong> <br/>
                           <ul>
                               <li ng-repeat="(key, value) in merror.data">{{value}}</li>
                           </ul>
		             </div>
				</div>
            	<div>
					<div class="alert alert-dismissible alert-success"
						ng-show="msuccess">
						<strong>Success</strong> <br />
						<ul>
							<li ng-bind="msuccess" >successMessage</li>
						</ul>
					</div>
				</div>
            
             <form class="form-group">
               <div class="form-group label-floating is-empty">
		            <label class="control-label" for="newPassword">New Password</label>
		            <input class="form-control" id="newPassword" ng-model="pwd.password" type="password" autocomplete="off">
		            <p ng-show="errors.data" class="help-block error">You should really write something here</p>
	          </div>
	            <div class="form-group label-floating is-empty">
		            <label class="control-label" for="confirmPassword">Confirm Password</label>
		            <input class="form-control" id="confirmPassword" ng-model="pwd.confirmPassword" type="password" autocomplete="off">
		            <p ng-show="errors.data" class="help-block error">You should really write something here</p>
	          </div>
             </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="changePassword(pwd)">Save changes</button>
            </div>
        </div>
  </div>
</div>
